---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import { InputForm } from "@/components/input-form";
---

<Layout title="Welcome to Astro.">
	<section class="flex flex-col gap-2">
		<div class="flex justify-center">
			<InputForm client:only />
		</div>
		<div></div>
	</section>
</Layout>
