---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="flex flex-col gap-2">
			<div class="flex justify-center">
				<form class="flex flex-row gap-2 p-1">
					<Input placeholder="Insert URL" type="url" />
					<Button>Add</Button>
				</form>
			</div>
			<div></div>
		</section>
	</main>
</Layout>
